body {
    margin: 0;
    padding: 0;
    background-image: url(https://s7.cpeople.ru/assets/images/main-screen/main-screen-bg.jpg);
    font-family: sans-serif;
    color: white;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
h1 {
    margin: 0;
}
button {
    color: white;
}
.mainScreen {
    background-repeat: no-repeat;
    background-size: cover;
}
.mainScreen h1 {
    font: 70px sans-serif;
    width: 600px;
    text-align: center;
    margin-left: 30%;
    padding-top: 13%;
}
.mainForm {
    background-image: url(https://s7.cpeople.ru/assets/images/main-form/main-form-bg.png);
    background-repeat: no-repeat;
    margin: 4% 0 0 10%;
}
.mainForm h3 {
    padding: 5px 0 0 34px;
    width: 365px;
}
.containerForInformation {
    display: flex;
    padding-left: 15px;
    padding-bottom: 20px;
}
.yourPlanetContainer, .choseTravelPlanetContainer, .choseDateContainer {
    border: 1px gray solid;
    padding: 0 0 0 11px;
    margin-left: 20px;
}
.yourPlanetContainer {
    width: 340px;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}
.yourPlanetShortName {
    font-size: 14px;
    margin-right: 10px;
}
.choseTravelPlanetContainer, .planets {
    width: 340px;
}
.choseTravelPlanetContainer, .choseDateContainer {
    display: flex;
    justify-content: space-between;
}
.containerForShortNameAndCursor {
    display: flex;
}
.chosenShortName {
    margin-left: -70%;
}
.cursor1 {
    height: 2px;
    margin: 5px 5% 0 20%;
}
.chosenPlanet {
    margin-left: 25%;
}
.choseDateContainer, .choseTravelPlanetContainer {
    padding: 11px 0 0 0;
}
.choseTravelPlanet, .yourPlanet, .choseDate {
    margin-left: 20px;
}
.choseDateContainer, .saveInformation {
    width: 230px;
    margin-left: 20px;
}
.saveInformation {
    background-color: #c4d600;
    border: none;
    font-size: 16px;
}
.cursor1, .cursor2, .cursor3, .cursor4 {
    border-top: 6px solid currentColor;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.cursor2 {
    margin: 5px 5% 0 0;
    height: 2px;
}
.shortName {
   margin-top: 15px;
}
.planets {
    height: 195px;
    overflow-y: scroll;
    background-color: purple;
    display: none;
    font-size: 14px;
    margin-top: -9.2%;
    position: relative;
    z-index: 1;
}
.planetContainer {
    border-bottom: 0.5px solid white;
    width: 300px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}
.planet {
    list-style-type: none;
    padding: 15px;
}
.planet:hover {
    color: rgb(173, 235, 50);
    transition-delay: 0.1s;
}
.choseTravelPlanetContainer:hover, .choseDateContainer:hover {
    border-color: rgb(194, 181, 181);
    transition-delay: 0.1s;
}
.saveInformation:hover, .bookNow:hover {
    background-color: #bdcc1e;
    transition-delay: 0.1s;
}
.datesContainer {
    background-color: #522b72;
    width: 320px;
    height: 250px;
    display: none;
    margin-left: 25%;
    margin-top: -13%;
    position: relative;
    z-index: 1;
}
.containerForContainerDate {
    display: flex;
}
.month {
    padding: 10px 0 10px 100px;
}
.daysContainer {
    display: flex;
    list-style-type: none;
    color: #afafaf;
}
.days {
    margin-left: 25px;
}
.dates {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    margin-left: 10px;
    margin-top: 10px;
}
.dates p {
    border: 1px solid #774c99;
    text-align: center;
    vertical-align: 5px;
    width: 40px;
    padding: 5px 0;
}
.dates p:hover {
    background-color: #bdcc1e;
}
nav {
    display: flex;
    padding: 20px 0;
}
nav p, .whencePlanetShortName, .whitherPlanetShortName {
    font-size: 13px;
}
.whence {
    margin-left: 12%;
}
.cabinTypeInformation, .travelTypeInformation, .foodInformation, .baggageInformation {
    width: 30px;
    height: 1px;
    background-color: white;
    margin-top: 20px;
}
.cabinTypeContainerInformation, .travelTypeContainerInformation, .foodContainerInformation, .baggageContainerInformation {
    margin-left: 135px;
    
}
.whither, .travelDateContainerInformation, .whence, .cabinTypeContainerInformation, .travelTypeContainerInformation, .foodContainerInformation, .baggageContainerInformation, .choseCabinTypeContainer {
    z-index: 1;
}
.whither, .travelDateContainerInformation {
    margin-left: 50px;
    z-index: 1;
}
.whencePlanet, .whitherPlanet, .travelDateInformation {
    padding: 10px 0;
}
.cabin {
    background-image: url(https://s7.cpeople.ru/assets/images/choice/cabin/bg.png);
}
.leftRocket {
    background-image: url(https://s7.cpeople.ru/assets/images/choice/cabin/1.png);
    width: 600px;
    height: 500px;
    position: absolute;
    left: -10%;
    top: -20%;
}
.rightRocket {
    background-image: url(https://s7.cpeople.ru/assets/images/choice/cabin/2.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -25%;
    right: 5%;
}
.aboutCabinType, .aboutTravelType, .aboutFoodType, .aboutBaggageType, .aboutPersonalInformation {
    text-align: center;
    font-size: 60px;
    padding-top: 7%;
}
.choseCabinTypeContainer, .choseTravelTypeContainer, .choseFoodTypeContainer, .choseBaggageTypeContainer {
    display: flex;
    margin: 3% 0 0 20%;
}
.aboutCryochamberCabin, .aboutBusinessCabin, .aboutLuxuryCabin, .aboutISSTravel, .aboutDirectTravel, .aboutExcursionTravel, .aboutTubeFood, .aboutSoylentFood, .aboutMarsorollsFood, .aboutNanosack, .aboutRoboticBaggage, .aboutLuggageShuttle {
    padding-top: 30px;
    font-size: 24px;
    width: 175px;
    text-align: center;
}
.cryochamber, .businessClass, .luxury, .ISS, .direct, .excursion, .foodInTube, .soylentFood, .marsorollsFood, .nanosack, .roboticBaggage, .luggageShuttle {
    margin-left: 7%;
    z-index: 1;
}
.chosenCabin {
    border: 1px solid transparent;
}
.chosenCabin, .chosenTravelType, .chosenFood, .chosenBaggage {
    border-radius: 50%;
    width: 220px;
    height: 220px;
}
.chosenCryochamber img {
    margin: 10px 0 0 10px;
}
.goToTravelTypeContainer, .goToFoodTypeContainer, .goToBaggageContainer, .goToPersonalInformationContainer {
    margin: 4% 0 0 50%;
    padding-bottom: 2.3%;
    display: flex;
}
.goToTravelType, .goToFoodType, .goToBaggage, .goToPersonalInformation {
    width: 150px;
    font-size: 18px;
}
.cursor3 {
    width: 2px;
    margin: 2% 2% 0 0;
}
.whence:hover p, .whither:hover p, .travelDateContainerInformation:hover p, .cabinTypeContainerInformation:hover p, .travelTypeContainerInformation:hover p, .foodContainerInformation:hover p, .baggageContainerInformation:hover p {
    color: rgb(173, 235, 50);
}
.imgCon img {
    margin: 10px 0 0 10px;
}
.travelType {
    background-image: url(https://s7.cpeople.ru/assets/images/choice/fly/bg.png);
}
.stars {
    background-image: url(https://s7.cpeople.ru/assets/images/choice/fly/1.png);
    width: 100%;
    height: 100%;
    position: absolute;
    left: -25%;
    top: -20%;
}
.upiter {
    background-image: url(https://s7.cpeople.ru/assets/images/choice/fly/2.png);
    width: 110%;
    height: 100%;
    position: absolute;
    top: -35%;
    right: 5%;
}
.chosenTravelType {
    border: 1px solid transparent;
}
.food {
    background-image: url(https://s7.cpeople.ru/assets/images/choice/food/bg.png);
}
.toothpaste {
    background-image: url(https://s7.cpeople.ru/assets/images/choice/food/1.png);
    width: 100%;
    height: 90%;
    position: absolute;
    left: -19%;
    top: -10%;
}
.apple {
    background-image: url(https://s7.cpeople.ru/assets/images/choice/food/2.png);
    width: 100%;
    height: 120%;
    position: absolute;
    top: -60%;
    right: 5%
}
.goToBaggage {
    margin-top: 3.7%;
}
.chosenFood {
    border: 1px solid transparent;
}
.baggage {
    background-image: url(https://s7.cpeople.ru/assets/images/choice/baggage/bg.png);
}
.paste {
    background-image: url(https://s7.cpeople.ru/assets/images/choice/baggage/1.png);
    width: 100%;
    height: 90%;
    position: absolute;
    left: -8%;
    top: -10%;
}
.sock {
    background-image: url(https://s7.cpeople.ru/assets/images/choice/baggage/2.png);
    width: 110%;
    height: 130%;
    position: absolute;
    top: -73%;
    right: 4%;
}
.chosenBaggage {
    border: 1px solid transparent;
}
.personalInformation {
    background-image: url(https://s7.cpeople.ru/assets/images/last-screen/bg.png);
}
.boots {
    background-image: url(https://s7.cpeople.ru/assets/images/last-screen/1.png);
    width: 100%;
    height: 70%;
    position: absolute;
    left: -15%;
    top: -10%;
}
.blaster {
    background-image: url(https://s7.cpeople.ru/assets/images/last-screen/2.png);
    width: 100%;
    height: 120%;
    position: absolute;
    top: -65%;
    right: 10%
}
.spaseSuitsSizing {
    display: none;
    list-style-type: none;
    background-color: white;
    width: 260px;
    margin: -27.5% 0 0 54%;
    position: relative;
}
.spaseSuitsSizing li {
    height: 50px;
    z-index: 22000;
    color: #707170;
    margin: 0 0 0 5%;
}
.spaseSuitsSizing li:first-child {
    padding-top: 5%;
}
.aboutPersonalInformation {
    padding-top: 11%;
}
.personalInformation {
    padding-bottom: 12%;
}
.information {
    margin: 4% 0 0 25%;
    display: flex;
}
.personalName, .personalSurname, .spaseSuitSizeContainer {
    width: 200px;
    margin-left: 1%;
    border: 1px solid hsla(0,0%,100%,.5);
    z-index: 1;
}
.spaseSuitSizeContainer {
    height: 50px;
    width: 260px;
}
.personalName, .personalSurname {
    background: inherit;
    color: white;
    font-size: 16px;
    padding: 5px 0 0 11px;
}
.personalName:active, .personalName:focus, .personalSurname:active, .personalSurname:focus {
    outline: none;
}
.bookNow {
    margin: 4.25% 0 0 36%;
    width: 400px;
    height: 60px;
    background-color: #c4d600;
    border: none;
    font-size: 24px;
    outline: none;
    z-index: 5;
}
.spaseSuitSize {
    display: flex;
    margin: 7% 0 0 5%;
    justify-content: space-between;
}
.cursor4 {
    margin: 3% 10% 0 0;
}
.personalName::placeholder, .personalSurname::placeholder {
    color: white;
    margin-left: 5%;
}
.cryochamber:hover .imgCon, .businessClass:hover .imgCon, .luxury:hover .imgCon, .ISS:hover .imgCon, .direct:hover .imgCon, .excursion:hover .imgCon, .foodInTube:hover .imgCon, .soylentFood:hover .imgCon, .marsorollsFood:hover .imgCon, .nanosack:hover .imgCon, .roboticBaggage:hover .imgCon, .luggageShuttle:hover .imgCon {
    border-color: rgb(223, 220, 220);
}
.finalInformation h1 {
    width: 500px;
    font-size: 40px;
    margin: 15% 0 0 35%;
}
@media screen and (max-width: 425px) {
    .mainForm {
        background-image: none;
        margin: 4% 0 0 0;
    }
    .yourPlanetContainer, .choseTravelPlanetContainer, .choseDateContainer {
        border: none;
    }
    .mainScreen h1 {
        width: 300px;
        font-size: 35px;
        margin: 2% 0 0 15%;
    }
    .mainForm h3 {
        font-size: 14px;
        padding-top: 10%;
        margin: 0 0 0 10%;
    }
    .containerForContainerDate {
        margin-left: 3%;
    }
    .containerForInformation {
        display: block;
        font-size: 24px;
        padding-left: 0;
        background-image: linear-gradient(45deg,#961a48,#522b72);
        margin-top: 15%;
    }
    .yourPlanetContainer {
        padding: 0;
    }
    .choseTravelPlanetContainer {
        white-space: nowrap;
    }
    .saveInformation {
        font-size: 24px;
        margin: 10% 0 0 5%;
        padding: 5% 0;
        width: 90%;
    }
    .yourPlanetContainer, .choseTravelPlanetContainer, .choseDateContainer {
        border-bottom: 1px solid hsla(0,0%,100%,.33);
        width: 90%;
        margin: 0 5% 0 5%;
        padding: 5% 0;
    }
    .planets {
        margin: 16% 0 -51% -105%;
    }
    .datesContainer {
        margin: 20% 0 -69% -105%;
    }
    nav {
        height: 80px;
        overflow-y: scroll;
        background-image: url(https://s7.cpeople.ru/assets/images/info-bar/mobile.png);
    }
    .leftRocket, .rightRocket, .stars, .upiter, .toothpaste, .apple, .paste, .sock, .boots, .blaster {
        display: none;
    }
    .aboutCabinType, .aboutTravelType, .aboutFoodType, .aboutBaggageType, .aboutPersonalInformation {
        font-size: 40px;
    }
    .choseCabinTypeContainer, .choseTravelTypeContainer, .choseFoodTypeContainer, .choseBaggageTypeContainer, .information {
        display: grid;
        grid-template-columns: 1fr;
        margin: 3% 0 0 18%;
    }
    .aboutCryochamberCabin, .aboutBusinessCabin, .aboutLuxuryCabin, .aboutISSTravel, .aboutDirectTravel, .aboutExcursionTravel, .aboutTubeFood, .aboutSoylentFood, .aboutMarsorollsFood, .aboutNanosack, .aboutRoboticBaggage, .aboutLuggageShuttle {
        margin-left: 8%;
    }
    .goToTravelTypeContainer, .goToFoodTypeContainer, .goToBaggageContainer, .goToPersonalInformationContainer {
        margin: 10% 0 0 30%;
    }
    .cursor3 {
        margin: 7% 5% 0 0;
    }
    .cabinTypeContainerInformation, .travelTypeContainerInformation, .foodContainerInformation, .baggageContainerInformation {
        margin-left: 70px;
    }
    .baggageContainerInformation {
        padding-right: 12%;
    }
    .foodInformation, .baggageInformation {
        margin-top: 35px;
    }
    .aboutPersonalInformation {
        padding-top: 40%;
    }
    .personalName, .personalSurname, .spaseSuitSizeContainer {
        border: none;
        border-bottom: 1px solid rgb(194, 181, 181);
        padding: 21.3% 0 4px 6px;
        width: 100%;
        margin-left: -20px;
    }
    .chosenSpaseSuitSize {
        margin-left: -5%;
    }
    .spaseSuitSizeContainer {
        height: auto;
    }
    .spaseSuitSize {
        margin: 0 0 0 5%;
    }
    .bookNow {
        margin: 15% 10% 0 21%;
        width: 250px;
    }
    .spaseSuitsSizing {
        margin: -116% 0 0 5%;
        z-index: 1;
    }
    .information {
        margin: 3% 0 0 8%;
    }
    .finalInformation h1 {
        width: 350px;
        font-size: 30px;
        margin: 30% 0 0 10%;
    }
}
@media screen and (max-width: 415px) {
    .planets {
        margin: 15% 0 -54% -108%;
    }
    .datesContainer {
        margin: 19% 0 -69% -107%;
    }
}
@media screen and (max-width: 375px) {
    .mainForm h3 {
        margin-left: 5%;
    }
    .mainScreen h1 {
        margin-left: 10%;
    }
    .bookNow {
        margin: 15% 10% 0 16%;
    }
    .containerForInformation {
        margin-top: 10%;
    }
    .planets {
        margin: 7% 0 -52% -113%;
    }
    .datesContainer {
        margin: 10% 0 -71% -113%;
    }
    .choseCabinTypeContainer, .choseTravelTypeContainer, .choseFoodTypeContainer, .choseBaggageTypeContainer, .information {
        margin-left: 15%;
    }
    .information {
        margin: 3% 0 0 8%;
    }
    .finalInformation h1 {
        margin: 30% 0 0 5%;
    }
}
@media screen and (max-width: 320px) {
    .containerForInformation {
        margin-top: 30%;
    }
    .bookNow {
        margin: 15% 10% 0 10%;
    }
    .mainForm h3, .planets, .datesContainer {
        margin: 0;
    }
    .mainScreen h1 {
        margin-left: 3%;
    }
    .planets {
        margin: 22% 0% -70% -126%;
    }
    .datesContainer {
        margin: 24% 0% -90% -132%;
    }
    .choseCabinTypeContainer, .choseTravelTypeContainer, .choseFoodTypeContainer, .choseBaggageTypeContainer, .information {
        margin-left: 10%;
    }
    .finalInformation h1 {
        margin: 70% 0 0 1%;
    }
}